#logo
{
    min-width: 10%;
    max-width:150px;
    height: 20%;
}

#bike-img-header
{
    min-width: 100%;
    max-width: 135%;
    min-height: 50%;
    opacity: 0.7;
    border-shadow:2px 2px 2px 0px;
}